<div class="card">
  <h5 class="card-header">Visualizar Pessoa</h5>
  <div class="card-body">
    <div>
      <div>
        <label><b> Nome: </b></label> {{ pessoa.nome }}
      </div>
      <div>
        <label><b> E-mail: </b></label> {{ pessoa.email }}
      </div>
      <div>
        <label><b> Data Nascimento: </b></label> {{ pessoa.dataNascimento }}
      </div>
      <div>
        <label><b> Naturalidade: </b></label> {{ pessoa.naturalidade }}
      </div>
      <div>
        <label><b> Nacionalidade: </b></label> {{ pessoa.nacionalidade }}
      </div>
      <div>
        <label><b> CPF: </b></label> {{ pessoa.cpf }}
      </div>
      <div>
        <label><b> Data de Cadastro: </b></label> {{ pessoa.dataCadastro }}
      </div>
      <div>
        <label><b> Data de Alteração: </b></label> {{ pessoa.dataAlteracao }}
      </div>
    </div>
  </div>
</div>
